/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  nav .nav-content .nav-list li {
    padding-inline: 10px;
    font-size: 17px;
  }
  nav .nav-btn button {
    width: 100px;
    font-size: 18px;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  header {
    display: none;
  }
  nav {
    width: 100%;
  }
  nav .nav-icon {
    width: 60px;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 15px;
  }
  nav .nav-icon i {
    cursor: pointer;
    font-size: 26px;
  }
  nav .nav-icon .fa-x,
  nav .nav-content .nav-list,
  nav .nav-content .nav-list li .sub-nav,
  nav .nav-btn i {
    display: none;
  }
  .nav-side {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 70px;
    transform: translateY(-100%);
    transition: linear 0.3s;
    display: block;
    z-index: 99;
  }
  .nav-side ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .nav-side ul li {
    width: 100%;
    height: 50px;
    display: flex;
    padding-inline: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }
  .nav-side ul li span {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    font-family: "Poppins";
  }
  .nav-side ul li span i {
    width: 30px;
    font-size: 25px;
    margin-right: 20px;
    color: rgb(109, 109, 109);
  }
  .nav-side ul li:hover span,
  .nav-side ul li:hover span i {
    color: rgb(28, 118, 253);
  }
  .nav-side-submenu {
    z-index: 101;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    padding: 0 0 0 10px;
    transform: translateX(-100%);
    transition: ease-in 0.3s;
  }
  .nav-side-submenu .submenu {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    transition: ease-in 0.4s;
  }
  .nav-side-submenu .submenu i {
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    width: 50px;
  }
  .nav-side-submenu .submenu h1 {
    height: 50px;
    margin-block: 10px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Poppins";
  }
  .nav-side-submenu .submenu ul {
    height: fit-content;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nav-side-submenu .submenu ul li {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Poppins";
  }
  .nav-side-submenu .submenu ul li:hover {
    color: rgb(28, 118, 253);
  }
  .nav-side-submenu .submenu ul li i {
    font-size: 30px;
    margin-top: -1px;
  }
  .big-banner {
    height: 600px;
    margin-bottom: 250px;
  }
  .big-banner .big-banner-img {
    width: 100%;
    height: 550px;
  }
  .big-banner .big-banner-img .img-md {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .big-banner .big-banner-img .img-lg {
    display: none;
  }
  .big-banner .big-banner-content {
    height: 350px;
    top: 450px;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .big-banner .big-banner-content .img,
  .big-banner .big-banner-content .img img {
    height: 140px;
  }
  .big-banner .big-banner-content .des {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
  }
  .big-banner .big-banner-content .des h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .big-banner .big-banner-content .des p {
    text-align: center;
    font-size: 14px;
  }
  .big-banner .big-banner-content .des button {
    width: 145px;
    height: 35px;
    font-size: 13px;
  }
  .big-banner .big-banner-content .des button:hover::after {
    width: 145px;
    height: 35px;
  }
  /* Reuse Md Class*/
  .bg-md-purple {
    background-color: rgb(10, 8, 47) !important;
  }
  .bg-md-light {
    background-color: rgb(234, 239, 249) !important;
  }
  .bg-md-dark {
    background-color: rgb(17, 19, 21) !important;
  }
  .bg-md-blue-slate {
    background-color: rgb(2, 8, 26) !important;
  }
  .bg-md-pink {
    background-color: rgb(160, 64, 121) !important;
  }
  .bg-md-light .des h1,
  .bg-md-light .des p {
    color: black !important;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
/* @media(max-width: 575.98px) {
  
} */
