/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  nav {
    .nav-content {
      .nav-list {
        li {
          padding-inline: 10px;
          font-size: 17px;
        }
      }
    }
    .nav-btn {
      button {
        width: 100px;
        font-size: 18px;
      }
    }
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .small-banner {
    width: 990px;
    height: 80px;
    align-self: center;
    .small-banner-container {
      width: 99%;
    }
    .small-banner-item:hover::after {
      border: 3px solid rgb(0, 102, 255);
    }
  }
  .game-container {
    .game-row-container {
      width: 100%;
      .game {
        width: 18%;
        .img {
          width: 180px;
          height: 170px;
        }
      }
    }
  }
  .social {
    height: 350px;
    h1 {
      font-size: 32px;
    }
    .icon-container {
      width: 38%;
      .icon {
        i {
          font-size: 80px;
        }
      }
    }
  }
  .marvel {
    padding-left: 100px;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .small-banner {
    width: 750px;
    height: 60px;
    align-self: center;
    .small-banner-container {
      .small-banner-item {
        border-radius: 15px;
        padding: 2.5px;
        padding-inline: 2.8px;
        img {
          border-radius: 10px;
        }
      }
    }
    .small-banner-item:hover {
      transform: translateY(-10px);
    }
    .small-banner-item:hover::after {
      border: 3px solid rgb(0, 102, 255);
    }
  }

  .header-banner {
    width: 100%;
    display: block;
    font-weight: 300;
    font-size: 39px;
    text-align: center;
    margin-top: 100px;
    padding-inline: 50px;
  }
  .banner-product-container {
    margin-top: 30px;
    div {
      .banner-product {
        height: fit-content;
        flex-direction: column-reverse;
        align-items: center;
        .banner-product-des {
          width: 60%;
          height: fit-content;
          h1 {
            display: none;
          }
          p {
            text-align: center;
            font-size: 20px;
          }
          p.des {
            font-size: 13px;
          }
          .btn {
            gap: 10px;
            margin-block: 5px;
            display: flex;
            justify-content: center;
            button {
              margin: 0;
            }
            button:hover::after {
              top: -3.5px;
            }
          }
        }
        .banner-product-img {
          width: 90%;
          height: fit-content;
        }
      }
    }
  }
  .game-container {
    .game-row-container {
      width: 90%;
      .game {
        width: 30%;
        .img {
          width: 200px;
          height: 180px;
        }
      }
      .game.game-md {
        display: none;
      }
    }
  }
  .plus-feature {
    button {
      height: 42px;
    }
    button:hover::after {
      height: 42px;
      top: -3.8px;
    }
    .plus-slider {
      height: 260px;
      overflow: hidden;
      .slider-container {
        width: 2200px;
      }
    }
  }
  /* feature feb */
  .feature-feb {
    h1 {
      width: 70%;
      font-size: 45px;
    }
  }
  .ps-store {
    height: 480px;
    .des {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .social {
    margin-top: 70px;
    height: 300px;
    h1 {
      font-size: 28px;
    }
    .icon-container {
      width: 40%;
      .icon {
        i {
          font-size: 75px;
        }
      }
    }
  }
  .marvel {
    padding-left: 80px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .small-banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 0px;
    z-index: 9;
    .small-banner-container {
      width: fit-content;
      height: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      display: block;
      white-space: nowrap;
      padding: 20px;
      z-index: 10;
      .small-banner-item {
        width: 300px;
        height: 100%;
        display: inline-block;
        margin-inline: 10px;
        padding-left: 4px;
      }
      .small-banner-item:hover {
        transform: translateY(0);
      }
    }
  }
  .game-container {
    .game-header {
      width: 90%;
      h1 {
        font-size: 23px;
      }
    }
    .game-btn {
      width: 230px;
      height: 40px;
      .button {
        font-size: 12px;
      }
    }
    .game-row-container {
      width: 100%;
      .game {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        .img {
          width: 160px;
          height: 160px;
          img {
            border-radius: 10px;
          }
        }
      }
      .game.game-md {
        display: none;
      }
    }
  }
  .plus-feature {
    button {
      width: 155px;
      height: 32px;
    }
    button:hover::after {
      display: none;
    }
    .plus-slider {
      height: 260px;
      overflow: hidden;
      .slider-container {
        width: 1600px;
        height: 100%;
        .slider {
          .img {
            width: 100%;
            height: 100%;
            img.img-md {
              width: 100%;
              height: 100%;
              border-radius: 15px;
              display: block;
              object-fit: cover;
            }
            img.img-lg {
              display: none;
            }
          }
          .des {
            padding: 0 0 20px 20px;
            div {
              width: 90%;
              h1 {
                color: white;
                font-weight: 300;
                font-size: 22px;
                padding-block: 10px;
              }
              p {
                color: white;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
    .plus-pagination {
      width: fit-content;
      height: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 10px;
      .dot {
        width: 15px;
        height: 2px;
        background-color: rgba(76, 76, 76, 0.791);
        border-radius: 2px;
        cursor: pointer;
      }
      .dot.active {
        background-color: rgba(0, 112, 204);
      }
    }
  }
  .feature-30th {
    .feature-30th-des {
      height: fit-content;
      div {
        height: fit-content;
        flex-direction: column;
        gap: 1px;
        button {
          margin-top: 5px;
        }
        button:hover::after {
          display: none;
        }
      }
    }
    .feature-30th-logo {
      width: 35%;
      height: 40%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  /* feature feb */
  .feature-feb {
    justify-content: end;
    padding-bottom: 100px;
    h1 {
      width: 60%;
      font-size: 35px;
    }
    p {
      width: 50%;
      font-size: 14px;
    }
  }
  .feature-feb-game {
    height: fit-content;
    padding-block: 30px;
    padding-inline: 20px;
    .item {
      width: 90%;
    }
  }
  .header-banner {
    width: 100%;
    display: block;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    padding-inline: 10px;
  }
  .banner-product-container {
    margin-top: 30px;
    flex-direction: column-reverse;
    gap: 20px;
    div {
      .banner-product {
        height: fit-content;
        flex-direction: column-reverse;
        align-items: center;
        .banner-product-des {
          width: 80%;
          height: fit-content;
          h1 {
            display: none;
          }
          p {
            text-align: center;
            font-size: 18px;
          }
          p.des {
            font-size: 14px;
          }
          .btn {
            width: 100%;
            gap: 10px;
            margin-block: 5px;
            display: flex;
            justify-content: center;
            button {
              margin: 0;
              width: 145px;
              height: 35px;
              font-size: 13px;
            }
            button:hover::after {
              display: none;
            }
          }
        }
        .banner-product-img {
          width: 90%;
          height: fit-content;
        }
      }
    }
    div.container-slider-product {
      .banner-product-slider-container {
        overflow: scroll;
        .banner-product-slider {
          .btn {
            display: none;
          }
        }
      }
      .banner-product-pagination {
        display: none;
      }
    }
  }
  .ps-store {
    height: fit-content;
    flex-direction: column-reverse;
    padding-block: 40px;
    .des {
      width: 80%;
      margin-right: 0;
      h1 {
        font-size: 38px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      button {
        height: 35px;
      }
      button:hover::after {
        display: none;
      }
    }
    .img {
      width: 90%;
    }
    .img:hover {
      transform: scale(102%);
    }
  }
  .social {
    height: 230px;
    h1 {
      font-size: 28px;
    }
    .icon-container {
      width: 50%;
      .icon {
        i {
          font-size: 50px;
        }
      }
    }
  }
  .marvel {
    padding-left: 80px;
    margin-block: 2px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  body {
    align-items: normal;
  }
  header {
    display: none;
  }
  .nav-side {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 70px;
    transform: translateY(-100%);
    transition: linear 0.3s;
    display: block;
    z-index: 99;
    ul {
      width: 100%;
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      li {
        width: 100%;
        height: 50px;
        display: flex;
        padding-inline: 10px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        span {
          display: flex;
          align-items: center;
          height: 100%;
          font-size: 25px;
          font-weight: 500;
          font-family: "Poppins";
          i {
            width: 30px;
            font-size: 25px;
            margin-right: 20px;
            color: rgb(109, 109, 109);
          }
        }
      }
      li:hover {
        span {
          color: rgb(28, 118, 253);
          i {
            color: rgb(28, 118, 253);
          }
        }
      }
    }
  }
  .nav-side-submenu {
    z-index: 101;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    padding: 0 0 0 10px;
    transform: translateX(-100%);
    transition: ease-in 0.3s;
    .submenu {
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translateX(-100%);
      transition: ease-in 0.4s;
      i {
        margin-top: 10px;
        font-size: 25px;
        cursor: pointer;
        width: 50px;
      }
      h1 {
        height: 50px;
        margin-block: 10px;
        font-size: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Poppins";
      }
      ul {
        height: fit-content;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          width: 100%;
          height: 60px;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 25px;
          gap: 10px;
          cursor: pointer;
          font-weight: 500;
          font-family: "Poppins";
          i {
            font-size: 30px;
            margin-top: -1px;
          }
        }
        li:hover {
          color: rgb(28, 118, 253);
        }
      }
    }
  }
  nav {
    width: 100%;
    .nav-icon {
      width: 60px;
      display: flex;
      height: 100%;
      align-items: center;
      gap: 15px;
      i {
        cursor: pointer;
        font-size: 26px;
      }
      .fa-x {
        display: none;
      }
    }
    .nav-content {
      .nav-list {
        display: none;
        li .sub-nav {
          display: none;
        }
      }
    }
    .nav-btn {
      i {
        display: none;
      }
    }
  }
  .big-banner {
    width: 100%;
    height: fit-content;
    .big-banner-img {
      width: 100%;
      height: 400px;
      .img-md {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
      .img-lg {
        display: none;
      }
    }
    .big-banner-content {
      height: fit-content;
      position: relative;
      padding: 30px 0;
      top: -50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        width: 70%;
        height: 130px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .des {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 20px;
        h1 {
          font-size: 20px;
          margin-bottom: 10px;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 14px;
        }
        button {
          width: 145px;
          height: 35px;
          font-size: 13px;
        }
        button:hover::after {
          display: none;
        }
      }
    }
  }
  .small-banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 0px;
    z-index: 9;
    .small-banner-container {
      width: fit-content;
      height: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      display: block;
      white-space: nowrap;
      padding: 20px;
      z-index: 10;
      .small-banner-item {
        width: 300px;
        height: 100%;
        display: inline-block;
        margin-inline: 10px;
        padding-left: 4px;
      }
      .small-banner-item:hover {
        transform: translateY(0);
      }
    }
  }

  .header-banner {
    width: 100%;
    display: block;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    padding-inline: 10px;
  }

  .banner-product-container {
    margin-top: 30px;
    flex-direction: column-reverse;
    gap: 20px;
    div {
      .banner-product {
        height: fit-content;
        flex-direction: column-reverse;
        align-items: center;
        .banner-product-des {
          width: 80%;
          height: fit-content;
          h1 {
            display: none;
          }
          p {
            text-align: center;
            font-size: 18px;
          }
          p.des {
            font-size: 14px;
          }
          .btn {
            width: 100%;
            gap: 10px;
            margin-block: 5px;
            display: flex;
            justify-content: center;
            button {
              margin: 0;
              width: 145px;
              height: 35px;
              font-size: 13px;
            }
            button:hover::after {
              display: none;
            }
          }
        }
        .banner-product-img {
          width: 90%;
          height: fit-content;
        }
      }
    }
    div.container-slider-product {
      .banner-product-slider-container {
        overflow: scroll;
        .banner-product-slider {
          .btn {
            display: none;
          }
        }
      }
      .banner-product-pagination {
        display: none;
      }
    }
  }

  .game-container {
    .game-header {
      width: 90%;
      h1 {
        font-size: 23px;
      }
    }
    .game-btn {
      width: 230px;
      height: 40px;
      .button {
        font-size: 12px;
      }
    }
    .game-row-container {
      width: 100%;
      .game {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        .img {
          width: 115px;
          height: 115px;
          img {
            border-radius: 10px;
          }
        }
      }
      .game.game-md {
        display: none;
      }
    }
  }

  .plus-feature {
    .plus-title {
      h1 {
        text-align: center;
      }
    }
    .btn {
      display: none;
    }
    button {
      width: 155px;
      height: 32px;
    }
    button:hover::after {
      display: none;
    }
    .plus-slider {
      height: 210px;
      overflow-y: hidden;
      overflow-x: scroll;
      .slider-container {
        padding-inline: 20px;
        width: 1250px;
        height: 100%;
        .slider {
          .img {
            width: 100%;
            height: 100%;
            img.img-md {
              width: 100%;
              height: 100%;
              border-radius: 15px;
              display: block;
              object-fit: cover;
            }
            img.img-lg {
              display: none;
            }
          }
          .des {
            padding: 0 0 20px 20px;
            background-color: rgba(0, 0, 0, 0.5);
            div {
              width: 90%;
              h1 {
                color: white;
                font-weight: 300;
                font-size: 22px;
                padding-block: 10px;
              }
              p {
                color: white;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
    .plus-pagination {
      display: none;
    }
  }

  .feature-30th {
    padding-block: 50px;
    height: 500px;
    flex-direction: column-reverse;
    justify-content: center;
    background-size: cover;
    .feature-30th-des {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline: 20px;
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
        padding-block: 20px;
        color: rgb(90, 90, 90);
      }
      div {
        gap: 5px;
        button {
          width: 185px;
          height: 35px;
        }
        button:hover::after {
          display: none;
        }
      }
    }
    .feature-30th-logo {
      width: 60%;
      height: 30%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .feature-feb {
    justify-content: end;
    padding-bottom: 100px;
    h1 {
      width: 70%;
      font-size: 35px;
    }
    p {
      width: 70%;
      font-size: 14px;
    }
  }
  .feature-feb-game {
    height: fit-content;
    padding-block: 30px;
    padding-inline: 20px;
    .item {
      width: 90%;
    }
  }
  .ps-store {
    height: fit-content;
    flex-direction: column-reverse;
    padding-block: 40px;
    .des {
      width: 80%;
      margin-right: 0;
      h1 {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      p {
        font-size: 13px;
      }
      button {
        height: 35px;
      }
      button:hover::after {
        display: none;
      }
    }
    .img {
      width: 90%;
    }
    .img:hover {
      transform: scale(102%);
    }
  }
  .social {
    height: 230px;
    h1 {
      font-size: 28px;
    }
    .icon-container {
      width: 70%;
      .icon {
        i {
          font-size: 50px;
        }
      }
    }
  }
  .marvel {
    padding-left: 30px;
    margin-block: 2px;
  }

  /* Reuse Md Class*/
  .bg-md-light {
    background-color: rgb(234, 239, 249) !important;
  }
  .bg-md-dark {
    background-color: rgb(17, 19, 21) !important;
  }
  .bg-md-blue-slate {
    background-color: rgb(2, 8, 26) !important;
  }
  .bg-md-gray {
    background-color: rgba(24, 30, 35, 255) !important;
  }
  .bg-md-pink {
    background-color: rgb(160, 64, 121) !important;
  }
  .bg-md-light .des h1,
  .bg-md-light .des p {
    color: black !important;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
/* @media(max-width: 575.98px) {
  
} */
